<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">Customers List</div>
    <div class="page_content shadow p-3 position-relative">
       
        <div class="pull-right" style="text-align:end; margin-top: 20px;">
            <button  style="color: white;" mat-raised-button class="mb-05" matTooltip="Create new Customer" color="primary"
                (click)="OpenCustomerDialog()">Create Customers
            </button>
        </div>
        <c-card style="padding: 10px; margin-top: 10px;" class="mat-elevation-z8">
            <c-card-body
                style="padding: 10px;border-radius: 20px;    background:linear-gradient(135deg, #0a87a9, #065f78);">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="paymentTerm">
                                <th mat-header-cell *matHeaderCellDef> PaymentTermId </th>
                                <td mat-cell *matCellDef="let element"> {{element.paymentTerm}} </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="phone">
                                <th mat-header-cell *matHeaderCellDef> Phone No</th>
                                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                            </ng-container>
                            <ng-container matColumnDef="address">
                                <th mat-header-cell *matHeaderCellDef> Address </th>
                                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                            </ng-container>
                            <ng-container matColumnDef="creditLimit">
                                <th mat-header-cell *matHeaderCellDef> Credit Limit </th>
                                <td mat-cell *matCellDef="let element"> {{element.creditLimit}} </td>
                            </ng-container>

                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef> Is Active </th>
                                <td mat-cell *matCellDef="let element"> {{ element.isActive ? 'yes' :
                                    'no' }} </td>
                            </ng-container>
    
    
                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center;"> Actions
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <div style="width: 100px;">
                                        <button mat-icon-button mat-sm-button style="color:#1e293b ; "
                                            cTooltip=" Edit  Customer " (click)="EditCustomer(row.id)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button mat-sm-button matTooltip="Delete Customer" color="warn" 
                                            (click)="DeleteCustomer(row.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
    
    
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [length]="catSvc.totalRecords" [pageSize]="catSvc.defaultPageSize" [pageSizeOptions]="catSvc.pageSizes"></mat-paginator>
                    
                    </section>
                </div>
            </c-card-body>
        </c-card>
    </div>

    <div>
        <div *ngIf="isLoading" class="lightbox">
            <c-spinner style="height: 100px;width: 100px;color: white;"></c-spinner>
        </div>
    </div>
</div>