<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2 header-sticky" style="position: sticky;">
        <div *ngIf="AddMode">Manage ServiceCharges</div>
        <div *ngIf="EditMode">Edit ServiceCharges</div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button style="color:white;margin-top: 0; padding-top: 100;" (click)="dialogRefe.close()"
                aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div class="page_content shadow p-3 position-relative">
        <form #ServiceChargesForm="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-between">


                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>ServiceCharges</mat-label>
                    <input matInput required #serviceCharges="ngModel" name="serviceCharges"
                        [(ngModel)]="selectedServiceCharges.serviceCharges">
                </mat-form-field>

                <mat-form-field fxFlex="48%" appearance="outline">
                    <mat-label> NextDueDate</mat-label>
                    <input matInput [matDatepicker]="picker" name="nextDueDate" readonly="true" required="true"
                        #date="ngModel" [(ngModel)]="selectedServiceCharges.nextDueDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field fxFlex="100%" appearance="outline" class="form-group">
                    <mat-label>Comment</mat-label>
                    <textarea matInput name="comments" [(ngModel)]="selectedServiceCharges.comments"></textarea>
                </mat-form-field>
            </div>
            <mat-checkbox name="isActive" [(ngModel)]="selectedServiceCharges.isActive">Is Active</mat-checkbox>

            <div fxLayoutAlign="end end">


                <div style="margin-top: 10px;">

                    <button *ngIf="AddMode" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveServiceCharges();">
                        Save
                    </button>

                    <button *ngIf="EditMode" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveServiceCharges()">
                        Update
                    </button>
                </div>
                <div>
                    <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                        (click)="ngOnInit()">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            </div>
        </form>

        <c-card style="padding: 10px; margin-top: 10px;" class="mat-elevation-z8">
            <c-card-body style="padding: 10px;border-radius: 20px;    background:linear-gradient(135deg, #0a87a9, #065f78);">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                        <table mat-table [dataSource]=" DataSource" class="mat-elevation-z8">

                          
                            <ng-container matColumnDef="serviceCharges">
                                <th mat-header-cell *matHeaderCellDef> ServiceCharges </th>
                                <td mat-cell *matCellDef="let ser"> {{ser.serviceCharges}} </td>
                            </ng-container>
                            <ng-container matColumnDef="nextDueDate">
                                <th mat-header-cell *matHeaderCellDef>
                                     NextDueDate </th>
                                <td mat-cell *matCellDef="let ser">
                                    {{ser.nextDueDate|date:"dd/MM/yyyy"}}
                                </td>
                            </ng-container>
                           <ng-container matColumnDef="comments" id="comments">
                            <th mat-header-cell *matHeaderCellDef>Comments</th>
                            <td mat-cell *matCellDef="let ser">
                              <div style="min-width:200px">{{ser.comments}}</div>
                            </td>
                          </ng-container>
                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef> Is Active </th>
                                <td mat-cell *matCellDef="let ser"> {{ ser.isActive ? 'yes' :
                                    'no' }} </td>
                            </ng-container>


                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center;"> Actions
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <div style="width: 100px;">
                                        <button mat-icon-button mat-sm-button style="color:#1e293b ; "
                                        cTooltip=" Edit  ServiceCharges " (click)="GetServiceChargesForEdit(row.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                      
                                        <button mat-icon-button mat-sm-button matTooltip="Delete ServiceCharges"
                                            color="warn" (click)="DeleteServiceCharges(row.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>


                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </section>
                </div>
            </c-card-body>
          </c-card>
    </div>