<div style="background-color: rgb(4, 52, 70);text-align: center;
justify-content: center;
align-items: center;">

  <div class="login-container">
    <mat-card class="login-form">
      <div class="text-center pt-8 pb-16" style="margin: 20px;margin-top: 30px;">
        <mat-icon style="  transform: scale(4)">person_pin</mat-icon>
        <br><br>
        <h3 >Password Assistance</h3>
        <h6 class="forgot-password-link">Enter the Email address associated with your account</h6>
      </div>
      <form cForm #forgotPasswordForm="ngForm">
        <mat-form-field class="form-group">
            
          <mat-icon matPrefix>email</mat-icon>
          <input matInput type="email" [(ngModel)]="forgotPasswordForm.value.email" name="email" placeholder="Email" required>
          <mat-error *ngIf="forgotPasswordForm.controls['email']?.errors?.['email']">
            Email is not valid.
          </mat-error>
          <mat-error class="form-text text-danger"
            *ngIf="forgotPasswordForm.controls['email']?.hasError || forgotPasswordForm.controls['email']?.errors?.['required']">
            Its Required
          </mat-error>
        </mat-form-field>
       
        <button mat-raised-button id="login-button"  type="submit" >
          <mat-icon style="color: white;"></mat-icon> <a   routerLink="/otp">Continue</a>
        </button>
      </form>
    
     
    </mat-card>
  </div>
</div>