<div class="container-fluid page">
  <div class="d-flex page_box p-3 mt-2 header-sticky" style="position: sticky">
    <div *ngIf="Add">Manage Template</div>
    <div *ngIf="Edit">Edit Template</div>
  </div>

  <div class="page_content shadow p-3 position-relative">
    <form name="eventForm" #userForm="ngForm" class="event-form" fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="45%" appearance="outline">
          <input
          appearance="outline"
            matInput
            name="KeyCode"
            #keyCode="ngModel"
            [(ngModel)]="taskSvc.selectedTemplateData.keyCode"
            placeholder="Key Code"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex="45%" appearance="outline">
          <input
          appearance="outline"
            matInput
            name="TemplateName"
            #TemplateName="ngModel"
            [(ngModel)]="taskSvc.selectedTemplateData.templateName"
            placeholder="Template Name"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="45%" appearance="outline">
          <input
          appearance="outline"
            matInput
            name="Subject"
            #subject="ngModel"
            [(ngModel)]="taskSvc.selectedTemplateData.subject"
            placeholder="Notification Subject"
            required
          />
        </mat-form-field>
        <mat-form-field fxFlex="45%" appearance="outline">
          <input
          appearance="outline"
            matInput
            name="SMS"
            #sms="ngModel"
            [(ngModel)]="taskSvc.selectedTemplateData.sms"
            placeholder="SMS"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field fxFlex="100%" appearance="outline">
          <textarea
          
            matInput
            placeholder="Body"
            name="body"
            [(ngModel)]="taskSvc.selectedTemplateData.body"
          ></textarea>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end end">
        <div style="margin-top: 10px">
          <div fxLayoutAlign="end end">
            <button
            
             
              *ngIf="!Edit"
              [disabled]="userForm.invalid"
              cButton class="me-1" style="background-color:#1e293b ;" type="submit"
              (click)="SaveTemplate(); userForm.reset()"
            >
              Submit
            </button>
            <button
        
              
              *ngIf="!Add"
              [disabled]="userForm.invalid"
              cButton class="me-1" style="background-color:#1e293b ;" type="submit"
              (click)="SaveTemplate()"
            >
              Update
            </button>
            <div>
                    <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                        (click)="ngOnInit()">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            <!-- <button
              mat-raised-button
              color="accent"
              [routerLink]="['/task/manageTemplate']"
              style="margin-left: 5px; margin-top: 20x"
            >
              <strong>Cancel</strong>
            </button> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
