<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2 header-sticky" style="position: sticky;">
        <div *ngIf="AddMode">Manage FollowUp</div>
        <div *ngIf="EditMode">Edit FollowUp</div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end center" style="margin-top: 0; padding-top: 0;">
            <button mat-icon-button style="color: rgb(225, 223, 235); margin-top: 0; padding-top: 0;"
                (click)="dialogRefe.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form #FollowUpForm="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-between">



                <mat-form-field appearance="outline" fxFlex="48%">
                    <mat-label>Select FollowUpStatuses</mat-label>
                    <mat-select name="statusId" [(ngModel)]="selectedFollowUp.statusId" required>
                        <mat-option [value]="0" (click)="Refresh();">--Please Select--</mat-option>
                        <mat-option *ngFor="let val of FollowUpStatuses" [value]="val.id">
                            {{val.name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>



                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>Date</mat-label>
                    <input matInput required [matDatepicker]="picker" placeholder="date"
                        [(ngModel)]="selectedFollowUp.date" name="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>NextAppointmentDate</mat-label>
                    <input matInput required [matDatepicker]="picker1" placeholder="nextAppointmentDate"
                        [(ngModel)]="selectedFollowUp.nextAppointmentDate" name="nextAppointmentDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field fxFlex="100%" appearance="outline" class="form-group">
                    <mat-label>Comment</mat-label>
                    <textarea matInput name="comment" [(ngModel)]="selectedFollowUp.comment"></textarea>
                </mat-form-field>
            </div>


            <mat-checkbox name="isActive" [(ngModel)]="selectedFollowUp.isActive">Is Active</mat-checkbox>

            <div fxLayoutAlign="end end">


                <div style="margin-top: 10px;">

                    <button *ngIf="AddMode" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveFollowUp();">
                        Save
                    </button>
                    <button *ngIf="EditMode" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="UpdateFollowUp()">
                        Update
                    </button>
                </div>
                <div>
                    <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                        (click)="ngOnInit()">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
            <h5 cCardTitle>FollowUp List</h5>

            <c-card-body style="padding: 10px;margin: 5px;border-radius: 10px;">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                        <table mat-table [dataSource]=" DataSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="followUpStatuses">
                                <th mat-header-cell *matHeaderCellDef> FollowUpStatuses </th>
                                <td mat-cell *matCellDef="let follow"> {{follow.followUpStatuses}} </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let follow">
                                    {{follow.date|date:"dd/MM/yyyy"}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nextAppointmentDate">
                                <th mat-header-cell *matHeaderCellDef> NextAppointmentDate </th>
                                <td mat-cell *matCellDef="let follow">
                                    {{follow.nextAppointmentDate|date:"dd/MM/yyyy"}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="comment">
                                <th mat-header-cell *matHeaderCellDef> Comment </th>
                                <td mat-cell *matCellDef="let follow"> {{follow.comment}} </td>
                            </ng-container>

                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef> Is Active </th>
                                <td mat-cell *matCellDef="let follow"> {{ follow.isActive ? 'yes' :
                                    'no' }} </td>
                            </ng-container>


                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center;"> Actions
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <div style="width: 100px;">
                                        <button mat-icon-button mat-sm-button style="color:#1e293b ; "
                                            cTooltip=" Edit  FollowUp " (click)="GetFollowUpForEdit(row.id)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button mat-sm-button matTooltip="Delete FollowUp" color="warn"
                                            (click)="DeleteFollowUp(row.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>


                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </section>
                </div>
            </c-card-body>
        </c-card>
    </div>
</div>