<div class="container-fluid page">
  <div class="d-flex page_box p-3 mt-2 header-sticky" style="position: sticky;">
    <div >Manage SMS</div>

    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button style="color:white;margin-top: 0; padding-top: 100;" (click)="dialogRefe.close()"
        aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="page_content shadow p-3 position-relative">
    <form #SMSForm="ngForm">

      <div fxLayout="row" fxLayoutAlign="space-between">

        <mat-form-field fxFlex="70%" appearance="outline" class="form-group">
          <mat-label> Phone </mat-label>
          <input matInput required name="phone" #phone="ngModel" [(ngModel)]="selectedSMS.phone" placeholder=" Phone">
        </mat-form-field>



      </div>



      <div>
        <mat-form-field fxFlex="100%" appearance="outline" class="form-group">
          <mat-label>Message</mat-label>
          <textarea matInput name="message" [(ngModel)]="selectedSMS.message"></textarea>
        </mat-form-field>
      </div>


      <div fxLayoutAlign="end end">


        <div style="margin-top: 10px;">

          <button  cButton class="me-1" style="background-color:#1e293b ;">
            Send
          </button>


          <button  cButton class="me-1" style="background-color:#1e293b ;">
            Cancel
          </button>
       
        </div>
        <div>
            <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                (click)="ngOnInit()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
    </div>

 

  </form>
</div>

</div>