<div class="container-fluid page height">
    <div class="d-flex page_box p-3 mt-2 header-sticky" position="sticky">
      <div *ngIf="AddMode">Manage patientLabTest</div>
      <div *ngIf="EditMode">Edit patientLabTest</div>
    </div>
  
    <div class="page_content shadow p-3 position-relative">
      <form #patientLabTestForm="ngForm">
        <Row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" fxFlex="49%" class="form-group">
              <mat-label>PatientLabTest</mat-label>
              <input
                matInput
                class="form-control"
                placeholder="ClientId"
                [type]="hide ? 'clientId' : 'Number'"
                name="clientId"
                [ngClass]="{
                  'is-invalid': PatientLabTestForm.submitted && clientId.invalid
                }"
                #clientId="ngModel"
                [(ngModel)]="selectedPatientLabTest.clientId"
                required
                maxlength="200"
                minlength="3"
              />
              <mat-error
                class="form-text text-danger"
                *ngIf="PatientLabTestForm.controls['ClientId']?.hasError || PatientLabTestForm.controls['ClientId']?.errors?.['minlength']"
              >
                
                    </mat-error
              >
            </mat-form-field>
  
            <mat-form-field appearance="outline" fxFlex="49%" class="form-group">
              <mat-label>LabTestId</mat-label>
              <input
                [matDatepicker]="picker"
                matInput
                class="form-control"
                placeholder="LabTestId"
                [type]="hide ? 'labTestId' : 'Number'"
                name="labTestId"
                [ngClass]="{
                  'is-invalid': PatientLabTestForm.submitted && labTestId.invalid
                }"
                #labTestId="ngModel"
                [(ngModel)]="selectedPatientLabTest.labTestId"
                required
                maxlength="200"
                minlength="3"
              />
              <mat-error
                class="form-text text-danger"
                *ngIf="PatientLabTestForm.controls['labTestId']?.hasError || PatientLabTestForm.controls['labTestId']?.errors?.['minlength']"
              >
               
                    </mat-error
              >
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>          
          </div>
        </Row>
        <br />
  
        <Row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" fxFlex="49%" class="form-group">
              <mat-label>remarks</mat-label>
              <input matInput class="form-control" placeholder="remarks" [type]="hide ? 'remarks' : 'text'"
                     name="remarks" [ngClass]="{ 'is-invalid': PatientLabTestForm.submitted && remarks.invalid }"
                     #remarks="ngModel" [(ngModel)]="selectedPatientLabTest.remarks" required maxlength="200" minlength="3">
                     <mat-error class="form-text text-danger"
                     *ngIf="PatientLabTestForm.controls['remarks']?.hasError || PatientLabTestForm.controls['remarks']?.errors?.['minlength']">
                     Write remarks here.
                   </mat-error> 
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" fxFlex="49%" class="form-group">
              <mat-label>Gender</mat-label>
              <input
                matInput
                class="form-control"
                required
                placeholder="Gender"
                [type]="hide ? 'gender' : 'text'"
                name="gender"
                [ngClass]="{
                  'is-invalid': PatientForm.submitted && gender.invalid
                }"
                #gender="ngModel"
                [(ngModel)]="selectedPatient.gender"
                required
                maxlength="200"
                minlength="3"
              />
              <mat-error
                class="form-text text-danger"
                *ngIf="PatientForm.controls['gender']?.hasError || PatientForm.controls['gender']?.errors?.['minlength']"
              >
                Gender is required to be at least 3 characters.     </mat-error
              >
            </mat-form-field> -->
  
           <!--  <mat-form-field appearance="outline" fxFlex="49%" class="form-group">
              <mat-label>price </mat-label>
              <input matInput class="form-control" placeholder="price" [type]="hide ? 'price' : 'Number'"
                     number="price" [ngClass]="{ 'is-invalid': PatientLabtestForm.submitted && price.invalid }"
                     #contactNo="ngModel" [(ngModel)]="selectedPatientLabTest.price" required maxlength="200" minlength="3">
                     <mat-error class="form-text text-danger"
                     *ngIf="PatientLabTestForm.price['price']?.hasError || PatientLabTestForm.controls['price']?.errors?.['minlength']">
                    
                   </mat-error> 
            </mat-form-field>
             -->
          </div>
        </Row>
  
        <br />
       <!--   <Row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field fxFlex="100%" appearance="outline" class="form-group">
              <mat-label> House No</mat-label>
              <input
                matInput
                #houseNo="ngModel"
                required
                name="reference"
                [(ngModel)]="selectedPatient.houseNo"
              />
            </mat-form-field>
          </div>
        </Row>
   -->
       <!--  <Row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field fxFlex="100%" appearance="outline" class="form-group">
              <mat-label>Address</mat-label>
              <input
                matInput
                required
                #address="ngModel"
                name="address"
                [(ngModel)]="selectedPatient.address"
              />
            </mat-form-field>
          </div>
        </Row> -->
  
        <Row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field fxFlex="100%" appearance="outline" class="form-group">
              <mat-label>Remarks</mat-label>
              <input
                matInput
                required
                #remarks="ngModel"
                name="remarks"
                [(ngModel)]="selectedPatientLabTest.remarks"
              />
            </mat-form-field>
          </div>
        </Row>
  
        <Row>
          <mat-checkbox
            name="isActive"
            [(ngModel)]="selectedPatientLabTest.isActive"
            checked
            >Is Active</mat-checkbox
          >
  
          <div fxLayoutAlign="end end">
            <button mat-raised-button *ngIf="AddMode" color="primary" (click)="SavePatientLabTest()">Submit</button>
            <button mat-raised-button *ngIf="EditMode" color="primary" (click)="UpdatePatientLabTest()">Update</button>
            <div>
                <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                    (click)="Refresh()">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </div>
        </div> 
           <div fxLayoutAlign="end end">
            <button
              mat-raised-button
              *ngIf="AddMode"
              color="primary"
              (click)="SavePatientLabTest()"
            >
              Submit
            </button>
            <button
              mat-raised-button
              *ngIf="EditMode"
              color="primary"
              (click)="SavePatientLabTest()"
            >
              Update
            </button>
            <div>
              <button
                mat-icon-button
                mat-sm-button
                color="primary"
                cTooltip="Refresh"
                cTooltipPlacement="top"
                (click)="Refresh()"
              >
                <mat-icon>autorenew</mat-icon>
              </button>
            </div>
          </div> 
        </Row>
      </form>
    
      <section
        class="example-container mat-elevation-z8"
        tabindex="0"
        style="border-radius: 5px; margin-top: 20px"
      >
        <table mat-table [dataSource]="PatlabDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="clientId">
            <th mat-header-cell *matHeaderCellDef>Client Id</th>
            <td mat-cell *matCellDef="let Patlab">{{ Patlab.clientId }}</td>
          </ng-container>
  
          <ng-container matColumnDef="labTestId">
            <th mat-header-cell *matHeaderCellDef>LabTest Id</th>
            <td mat-cell *matCellDef="let Patlab">{{ Patlab.labTestId}}</td>
          </ng-container>
  
          <ng-container matColumnDef="sampleTypeId">
            <th mat-header-cell *matHeaderCellDef>SampleType Id</th>
            <td mat-cell *matCellDef="let element">{{ element.sampleTypeId }}</td>
          </ng-container>
  
          <ng-container matColumnDef="patientId">
            <th mat-header-cell *matHeaderCellDef>Patient Id</th>
            <td mat-cell *matCellDef="let Patlab">{{ Patlab.patientId }}</td>
          </ng-container>
  
          <ng-container matColumnDef="doctorId">
            <th mat-header-cell *matHeaderCellDef>Doctor Id</th>
            <td mat-cell *matCellDef="let element">{{ element.doctorId }}</td>
          </ng-container>
  
          <ng-container matColumnDef="testDate">
            <th mat-header-cell *matHeaderCellDef>TestDate</th>
            <td mat-cell *matCellDef="let element">{{ element.testDate }}</td>
          </ng-container>
  
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef>Remarks</th>
            <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
          </ng-container>

          <ng-container matColumnDef="discountAmt">
            <th mat-header-cell *matHeaderCellDef>Discount Amt</th>
            <td mat-cell *matCellDef="let element">{{ element.discountAmt }}</td>
          </ng-container>

          <ng-container matColumnDef="paidAmt">
            <th mat-header-cell *matHeaderCellDef>Paid Amt</th>
            <td mat-cell *matCellDef="let element">{{ element.paidAmt }}</td>
          </ng-container>

          <ng-container matColumnDef="resultDate">
            <th mat-header-cell *matHeaderCellDef>Result Date</th>
            <td mat-cell *matCellDef="let element">{{ element.resultDate }}</td>
          </ng-container>
  
          <ng-container matColumnDef="resultValue">
            <th mat-header-cell *matHeaderCellDef>Result Value</th>
            <td mat-cell *matCellDef="let element">{{ element.resultValue }}</td>
          </ng-container>
  
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>Is Active</th>
            <td mat-cell *matCellDef="let element">
              {{ element.isActive ? "Yes" : "No" }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="actions" stickyEnd="true">
            <th mat-header-cell *matHeaderCellDef>
              <p style="margin-top: 15px; font-size: 16px; text-align: center">
                Actions
              </p>
            </th>
            <td mat-cell *matCellDef="let row">
              <div style="text-align: center">
                <button
                  mat-icon-button
                  mat-sm-button
                  (click)="EditPatientLabTest(row)"
                  style="color: #1e293b"
                  cTooltip=" Edit PatientLabTest"
                >
                  <mat-icon>edit</mat-icon>
                </button>
  
                <button
                  mat-icon-button
                  mat-sm-button
                  color="warn"
                  (click)="DeletePatientLabTest(row.clientId)"
                  cTooltip="Delete PatientLabTest"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="PatlabColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: PatlabColumns"></tr>
        </table>
      </section>
    </div>
  </div>
  