
























<!-- <div class="container-fluid SampleType">
  <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
      <div *ngIf="Add">Manage SampleType
      </div>
     
  </div>

<c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
  <h5 cCardTitle>SampleType</h5>
  <c-card-body style="padding: 10px;margin: 5px;border-radius: 10px;">
      <div class="example-table-container">
          <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
              
<table mat-table [dataSource]="sampleDataSource" class="mat-elevation-z8" style="margin-top: 20px;">


  <ng-container matColumnDef="ClientId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.ClientId}} </td>
  </ng-container>


  <ng-container matColumnDef="SampleTypeName">
      <th mat-header-cell *matHeaderCellDef> SampleTypeName</th>
      <td mat-cell *matCellDef="let element"> {{element.SampleTypeName}} </td>
  </ng-container>

  <ng-container matColumnDef="IsActive">
      <th mat-header-cell *matHeaderCellDef> IsActive</th>
      <td mat-cell *matCellDef="let element"> {{element.IsActive}} </td>
  </ng-container>
  

  
  
  <tr mat-header-row *matHeaderRowDef="sampleColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: sampleColumns;"></tr>

  
</table>
</section>
</div>
</c-card-body>
</c-card>
 -->